
.rating{
    width: 70px;
    height: 12px;
    font-size: 0;
    line-height: 0;
    background: url(../../../public/star.svg) 0 0 repeat-x;
    margin:0 auto;
    margin-bottom: 10px;

}
.emiImage{
    width: 48px;
    padding: 0.3rem 0.6em;
    background: #e12f2f;
    color: #ffffff;
    border-radius: 1rem 1rem 0 1rem;
    font-weight: bold;
    font-size: 0.9rem;
}
.priceContent > p{
    margin: 10px 0;
}
.emiContent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px;
}

.cardInner{
    border: 1px solid #ddd;
    width: 100%; 
    height: 100%;
}
.image{
    width: 100%;
    height: 60%;
    padding-top: 2rem;
}
.image>img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

h6{
    font-size: 14px;
    color: #444444;

}
.cardContent{
    padding: 10px 5px 0;
    text-align: center;
    height: 30%;
}

.cardButtons{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ddd;
}
.refreshIcon{
    width: 50%;
   display: flex;
   justify-content: center;
   padding:15px 0;
}
.favIcon{
    width: 50%;
   display: flex;
   justify-content: center;
   padding:15px 0;
}

.prices{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5px 0;
}
.regularPrice{
    text-decoration: line-through;
    margin: 0 5px;
    color: #999;
    font-size: 12px;
}
.specialPrice{
    font-size: 15px;
    margin: 0 5px;
    font-size: 14px;
    color: #e12f2f;
    font-weight: bold;

}

.refreshIcon:hover  {
    background-color: #254470;
}

.refreshIcon:hover >svg{
    fill: #fff;
}

.favIcon:hover{
    background-color: #254470;
}

.favIcon:hover >svg{
    fill: #fff;
}

.savedPrice{
    font-size: 12px;
    color: #999;
}
.emiCost{
    font-size: 13px;
    
}


